<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCA | About</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <%- include('header.ejs') %>
    <section class="about-hero">
      <div class="parallex-box">
        <img
          id="parallex-box"
          class="parallex-box__img"
          src="/img/cotton-1.jpg"
          alt="cotton"
        />
      </div>
    </section>

    <%- include('footer.ejs') %>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
  </body>
  <script>
    let parImg = document.getElementById("parallex-box");

    window.addEventListener("scroll", function () {
      var value = window.scrollY;

      parImg.style.bottom = -value * 0.3 + "px";
    });
  </script>
</html>
