<section class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <div class="footer__left--logo-box">
        <!-- <img src="" alt="logo" class="header__logo" /> -->
        OCA
      </div>
      <div class="footer__left--contact">
        <h3>Contact Us</h3>
        <span><a href="#">email.domain.com</a></span>
        <div class="social-media">
          <span>facebook</span>
        </div>
      </div>
    </div>
    <div class="footer__right">
      <ul class="footer__right--nav">
        <li class="footer__right--item">
          <a class="footer__right--link" href="#">Who We Are</a>
        </li>
        <li class="footer__right--item">
          <a class="footer__right--link" href="#">What We Do</a>
        </li>
        <li class="footer__right--item">
          <a class="footer__right--link" href="#">Events</a>
        </li>
        <li class="footer__right--item">
          <a class="footer__right--link" href="#">Join</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    <p>Deigned By: <a href="#">Get E-Solution</a></p>
  </div>
</section>
