<header class="header">
  <div class="header__logo-box">
    <!-- <img src="" alt="logo" class="header__logo" /> -->
    OCA
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/who-we-are">Who We Are</a></li>
      <li class="nav-item"><a href="/what-we-do">What We do</a></li>
      <li class="nav-item"><a href="/contact">Contact</a></li>
      <li class="nav-item"><a href="/join">Join</a></li>
    </ul>
  </nav>
</header>
