@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      margin: 0rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    animation-name: moveInButton;
    animation-duration: 2s; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInButton;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-duration: 2s; }

.slider-text {
  animation-name: moveInButton;
  animation-fill-mode: backwards;
  animation-delay: 2s;
  animation-duration: 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0eeea3, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.header {
  position: relative;
  height: 12vh;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo-box {
  color: #1bb675;
  margin-left: 5rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.nav {
  margin-right: 5rem; }
  .nav-list {
    display: flex;
    list-style: none; }
  .nav-item {
    color: #1bb675; }
    .nav-item a {
      color: currentColor;
      font-size: 1.7rem;
      text-decoration: none;
      margin: 0 1.5rem; }
    .nav-item :hover {
      color: #0eeea3; }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-3 {
    width: calc( 2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-4 {
    width: calc( 2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-4 {
    width: calc( 3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 75em) {
    .footer {
      padding: 8rem 0; } }
  .footer__container {
    display: flex; }
  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #999; }
    .footer__left--logo-box {
      margin-bottom: 2rem; }
      @media (max-width: 75em) {
        .footer__left--logo-box {
          margin-bottom: 2rem; } }
    .footer__left--contact > h3 {
      font-size: 2rem;
      text-transform: uppercase;
      margin: 3rem 0; }
    .footer__left--contact > span > a {
      text-decoration: none;
      color: currentColor; }
      .footer__left--contact > span > a:hover {
        color: #fff; }
  .footer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; }
    .footer__right--nav {
      list-style: none; }
    .footer__right--item {
      margin: 2rem 0; }
    .footer__right--link:link, .footer__right--link:visited {
      color: #999;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      background-color: none;
      transition: all 0.2s;
      border-bottom: 1px solid #999; }
    .footer__right--link:hover, .footer__right--link:active {
      color: #fff;
      transform: scale(1.3);
      text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.4); }
  .footer__copyright {
    padding-top: 2rem;
    text-align: center;
    color: #999; }
    .footer__copyright > p > a {
      color: currentColor;
      text-decoration: none; }
      .footer__copyright > p > a:hover {
        color: #fff; }
    @media (max-width: 75em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.navi__checkbox {
  display: none; }

.navi__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1002;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  text-align: center; }
  @media (max-width: 75em) {
    .navi__button {
      top: 3rem;
      right: 4rem; } }

.navi__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#0eeea3, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 75em) {
    .navi__background {
      top: 3.5rem;
      right: 4.5rem; } }

.navi__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navi__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navi__item {
  margin: 1rem; }

.navi__link:link, .navi__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 220%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all 0.4s; }

.navi__link:hover, .navi__link:active {
  background-position: 100%;
  color: #1bb675;
  transform: translateX(1rem); }

.navi__checkbox:checked ~ .navi__background {
  transform: scale(55); }

.navi__checkbox:checked ~ .navi__nav {
  width: 100vw;
  opacity: 1; }

.navi__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navi__icon, .navi__icon::before, .navi__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navi__icon::before, .navi__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navi__icon::before {
    top: -0.8rem; }
  .navi__icon::after {
    top: 0.8rem; }

.navi__button:hover .navi__icon::before {
  top: -0.9rem; }

.navi__button:hover .navi__icon::after {
  top: 0.9rem; }

.navi__checkbox:checked + .navi__button .navi__icon {
  background-color: transparent; }

.navi__checkbox:checked + .navi__button .navi__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navi__checkbox:checked + .navi__button .navi__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  width: fit-content;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 2px solid #1bb675; }
  .btn:hover::after {
    transform: scale(1);
    opacity: 1; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--back {
  color: #777;
  border: 2px solid #777;
  background-color: #fff;
  box-shadow: none; }
  .btn--back::after {
    background-color: #1bb675; }
  .btn--back:hover {
    box-shadow: 0 0.5rem 1rem rgba(27, 182, 117, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #1bb675; }

.btn--green {
  background-color: #1bb675;
  color: #fff; }
  .btn--green::after {
    background-color: #0eeea3; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  transform: scale(0); }

.btn--animated {
  animation-name: moveInButton;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-5px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.1); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 11; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 1rem;
          top: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #1bb675;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-image: linear-gradient(to right, #0eeea3, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem; }
  .card__side {
    height: 53rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #0eeea3, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(360deg); }
  .card__img {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../images/nat-5.jpg); }
    .card__img--2 {
      background-image: linear-gradient(to right bottom, #0eeea3, #28b485), url(../../images/nat-6.jpg); }
    .card__img--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../images/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(14, 238, 163, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #e4e4e4; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100px; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          --webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
          .card__side--back-1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
          .card__side--back-2 {
            background-image: linear-gradient(to right bottom, #0eeea3, #28b485); }
          .card__side--back-3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        text-align: center;
        padding: 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-only {
        font-size: 1.4rem; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 100px; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 0.7em; }

.form__input, .form__textarea {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .form__input, .form__textarea {
      width: 100%; } }
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus, .form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #1bb675; }
  .form__input:focus:invalid, .form__textarea:focus:invalid {
    border-bottom: 4px solid #ff7730; }

.form__textarea {
  height: 50px; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label,
.form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid #1bb675;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -5;
  left: 0; }
  .form__radio-button::after {
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1bb675;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #1bb675; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 75vw;
    background-color: #fff;
    display: table;
    transition: all 0.5s; }
    @media (max-width: 56.25em) {
      .popup__content {
        display: inline-block; } }
  .popup__left {
    width: 33.3333333%;
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 56.25em) {
      .popup__left {
        width: 100%;
        display: inline-block; } }
  .popup__right {
    width: 66.6666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem 5rem; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: inline-block; } }
  .popup__img {
    display: block;
    width: 100%;
    object-fit: cover; }
    @media (max-width: 56.25em) {
      .popup__img {
        width: 49%;
        height: 100%;
        display: inline; } }
  .popup__txt {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba(0, 0, 0, 0.2);
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup__txt {
        column-count: 1; } }

.parallex-box {
  color: white;
  background-color: black;
  position: relative;
  z-index: -1;
  height: 97vh;
  width: 100%; }
  .parallex-box__img {
    position: absolute;
    bottom: 0rem;
    object-position: center;
    width: 100%; }

.text {
  height: 50vh; }

.owl-carousel__item {
  color: #fff;
  font-size: 2rem;
  background-color: red;
  padding: 5rem; }

/*=================
Basic style
==================*/
/*===================
animation01
====================*/
.startup {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  animation: startups 1s ease-in 4.2s forwards;
  overflow: hidden;
  z-index: 2000; }

@keyframes startups {
  0% {
    visibility: visible;
    opacity: 1;
    top: 0; }
  100% {
    visibility: hidden;
    opacity: 1;
    top: 100vh; } }

.animation01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.animation01 div {
  width: 20%;
  height: 100%;
  animation: animation01 0.275s ease-in forwards;
  transform-origin: bottom;
  opacity: 0; }

.animation01 div:nth-child(1) {
  background-color: #d55959;
  animation-delay: 0.4s; }

.animation01 div:nth-child(2) {
  background-color: #ffe08b;
  animation-delay: 0.3s; }

.animation01 div:nth-child(3) {
  background-color: #75cfb9;
  animation-delay: 0.2s; }

.animation01 div:nth-child(4) {
  background-color: #f1a05b;
  animation-delay: 0.1s; }

.animation01 div:nth-child(5) {
  background-color: #78bee4; }

@keyframes animation01 {
  0% {
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===================
animation02
====================*/
.animation02 {
  position: absolute;
  width: 100%;
  height: 100%; }

.animation02 div {
  position: absolute;
  width: 0;
  height: 0;
  animation: animation02 0.6s ease-in 0.6s forwards;
  opacity: 0; }

.animation02 div:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 100vh solid transparent;
  border-right: 100vw solid #f2f3df;
  transform-origin: bottom right; }

.animation02 div:nth-child(2) {
  right: 0;
  bottom: 0;
  border-bottom: 100vh solid transparent;
  border-left: 100vw solid #f2f3df;
  transform-origin: top left; }

@keyframes animation02 {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1; }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===================
animation03
====================*/
.animation03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13vw;
  height: 13vw; }

.animation03 .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  background-color: transparent;
  z-index: 9998; }

.animation03 .circle_element01 {
  width: 13vw;
  height: 13vw;
  border: 0.25vw solid #54988b;
  border-radius: 50%;
  animation: animation03_circle 0.3s ease-in-out 0.5s forwards, animation03_circle_element01 0.3s linear 0.9s forwards;
  opacity: 0; }

.animation03 .circle_element02 {
  width: 9vw;
  height: 9vw;
  border: 0.5vw solid #4b5e58;
  border-radius: 50%;
  animation: animation03_circle 0.4s ease-in-out 0.5s forwards, animation03_circle_element02 0.2s linear 1s forwards;
  opacity: 0; }

.animation03 .circle_element03 {
  width: 4vw;
  height: 4vw;
  border: 1vw solid #404a52;
  border-radius: 50%;
  animation: animation03_circle 0.45s ease-in-out 0.5s forwards, animation03_circle_element03 0.15s linear 1.4s forwards;
  opacity: 0; }

@keyframes animation03_circle {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1; }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes animation03_circle_element01 {
  0% {
    border: 0.25vw solid #54988b; }
  100% {
    border: 0 solid #54988b; } }

@keyframes animation03_circle_element02 {
  0% {
    border: 0.5vw solid #4b5e58; }
  100% {
    border: 0 solid #4b5e58; } }

@keyframes animation03_circle_element03 {
  0% {
    border: 1vw solid #404a52; }
  100% {
    border: 0 solid #404a52; } }

/*===================
animation04
====================*/
.animation04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9999; }

.animation04 .line_wrapper {
  position: absolute;
  opacity: 0; }

.animation04 .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0; }

/*===========
line01
===========*/
.animation04 .line_wrapper01 {
  top: -20%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper01 0.45s ease-in 0.8s forwards; }

.animation04 .line01 {
  animation: animation04_line01 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper01 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line01 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line02
===========*/
.animation04 .rotate45 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(45deg); }

.animation04 .line_wrapper02 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper02 0.45s ease-in 0.8s forwards; }

.animation04 .line02 {
  animation: animation04_line02 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper02 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line02 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line03
===========*/
.animation04 .line_wrapper03 {
  top: 50%;
  left: 90%;
  width: 30%;
  height: 2.5%;
  animation: animation04_line_wrapper03 0.45s ease-in 0.8s forwards; }

.animation04 .line03 {
  animation: animation04_line03 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper03 {
  0% {
    transform-origin: right;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: right;
    transform: scale3d(0, 1, 1);
    opacity: 1; } }

@keyframes animation04_line03 {
  0% {
    transform-origin: left;
    transform: scale3d(0, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: left;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line04
===========*/
.animation04 .rotate135 {
  display: block;
  position: absolute;
  top: 49.5%;
  left: -22%;
  width: 100%;
  height: 100%;
  transform: rotate(135deg); }

.animation04 .line_wrapper04 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper04 0.45s ease-in 0.8s forwards; }

.animation04 .line04 {
  animation: animation04_line04 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper04 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line04 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line05
===========*/
.animation04 .line_wrapper05 {
  top: 90%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper05 0.45s ease-in 0.8s forwards; }

.animation04 .line05 {
  animation: animation04_line05 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper05 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line05 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line06
===========*/
.animation04 .rotate-135 {
  display: block;
  position: absolute;
  top: -19.5%;
  left: -48%;
  width: 100%;
  height: 100%;
  transform: rotate(-135deg); }

.animation04 .line_wrapper06 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper06 0.45s ease-in 0.8s forwards; }

.animation04 .line06 {
  animation: animation04_line06 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper06 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line06 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line07
===========*/
.animation04 .line_wrapper07 {
  top: 50%;
  left: -20%;
  width: 30%;
  height: 2.5%;
  animation: animation04_line_wrapper07 0.45s ease-in 0.8s forwards; }

.animation04 .line07 {
  animation: animation04_line07 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper07 {
  0% {
    transform-origin: left;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: left;
    transform: scale3d(0, 1, 1);
    opacity: 1; } }

@keyframes animation04_line07 {
  0% {
    transform-origin: right;
    transform: scale3d(0, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: right;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===========
line08
===========*/
.animation04 .rotate-45 {
  display: block;
  position: absolute;
  top: -49%;
  left: 20%;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg); }

.animation04 .line_wrapper08 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper08 0.45s ease-in 0.8s forwards; }

.animation04 .line08 {
  animation: animation04_line08 0.45s ease-in 0.5s forwards; }

@keyframes animation04_line_wrapper08 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation04_line08 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===================
animation05
====================*/
.animation05 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; }

.double_wrapper02 {
  position: relative;
  width: 100%;
  height: 100%;
  animation: animation05_double forwards;
  opacity: 0; }

.double_wrapper01 {
  display: block;
  position: absolute;
  border-radius: 50%;
  overflow: hidden; }

.double_wrapper01::before {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 2; }

.double_wrapper01::after {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 3; }

.double_block {
  position: absolute;
  background: #f2f3df;
  border-radius: 50%; }

/*==============
green circle
==============*/
.green02 {
  top: 0;
  animation-delay: 1.3s; }

.green01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34vw;
  height: 34vw;
  background: #75cfb9;
  z-index: 1; }

.green01::before {
  top: 0;
  left: 17vw;
  width: 34vw;
  height: 34vw;
  transform-origin: left 17vw;
  animation: rotate-circle-right 0.5s linear 1.55s forwards; }

.green01::after {
  top: 0;
  left: -17vw;
  width: 34vw;
  height: 34vw;
  transform-origin: right 17vw;
  animation: rotate-circle-left 0.5s linear 1.3s forwards; }

.green00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4; }

/*==============
navy circle
==============*/
.navy02 {
  top: -100%;
  animation-delay: 1.4s; }

.navy01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 25vw;
  height: 25vw;
  background: #485973;
  z-index: 1; }

.navy01::before {
  top: 0;
  left: 12.5vw;
  width: 25vw;
  height: 25vw;
  transform-origin: left 12.5vw;
  animation: rotate-circle-right 0.5s linear 1.65s forwards; }

.navy01::after {
  top: 0;
  left: -12.5vw;
  width: 25vw;
  height: 25vw;
  transform-origin: right 12.5vw;
  animation: rotate-circle-left 0.5s linear 1.4s forwards; }

.navy00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4; }

/*==============
yellow circle
==============*/
.yellow02 {
  top: -200%;
  animation-delay: 1.45s; }

.yellow01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 23vw;
  height: 23vw;
  background: #ffe08b;
  z-index: 1; }

.yellow01::before {
  top: 0;
  left: 11.5vw;
  width: 23vw;
  height: 23vw;
  transform-origin: left 11.5vw;
  animation: rotate-circle-right 0.5s linear 1.7s forwards; }

.yellow01::after {
  top: 0;
  left: -11.5vw;
  width: 23vw;
  height: 23vw;
  transform-origin: right 11.5vw;
  animation: rotate-circle-left 0.5s linear 1.45s forwards; }

.yellow00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4; }

/*==============
blue circle
==============*/
.blue02 {
  top: -300%;
  animation-delay: 1.2s; }

.blue01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 16vw;
  height: 16vw;
  background: #457ed4;
  z-index: 1; }

.blue01::before {
  top: 0;
  left: 8vw;
  width: 16vw;
  height: 16vw;
  transform-origin: left 8vw;
  animation: rotate-circle-right 0.5s linear 1.45s forwards; }

.blue01::after {
  top: 0;
  left: -8vw;
  width: 16vw;
  height: 16vw;
  transform-origin: right 8vw;
  animation: rotate-circle-left 0.5s linear 1.2s forwards; }

.blue00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  z-index: 4; }

/*==============
red circle
==============*/
.red02 {
  top: -400%;
  animation-delay: 1.3s; }

.red01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12vw;
  height: 12vw;
  background: #e8595f;
  z-index: 1; }

.red01::before {
  top: 0;
  left: 6vw;
  width: 12vw;
  height: 12vw;
  transform-origin: left 6vw;
  animation: rotate-circle-right 0.5s linear 1.55s forwards; }

.red01::after {
  top: 0;
  left: -6vw;
  width: 12vw;
  height: 12vw;
  transform-origin: right 6vw;
  animation: rotate-circle-left 0.5s linear 1.3s forwards; }

.red00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4; }

@keyframes animation05_double {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotate-circle-left {
  0% {
    background: #f2f3df;
    transform: rotate(0deg); }
  50% {
    background: #f2f3df;
    transform: rotate(-180deg); }
  50.01% {
    background: #f2f3df;
    transform: rotate(-180deg); }
  100% {
    background: #f2f3df;
    transform: rotate(-360deg); } }

@keyframes rotate-circle-right {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }

/*===================
animation06
====================*/
.animation06 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; }

.rhombus05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rhombus 0.7s ease-in 2s forwards;
  opacity: 0; }

.rhombus04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 50vw;
  height: 50vw;
  background-color: #ef5958; }

.rhombus03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.5vw;
  height: 37.5vw;
  background-color: #77ceb9; }

.rhombus02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vw;
  background-color: #ffe08b; }

.rhombus01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.25vw;
  height: 12.25vw;
  background-color: #f2f3df; }

@keyframes rhombus {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1; }
  100% {
    transform: scale3d(10, 10, 1);
    opacity: 1; } }

/*===================
animation07
====================*/
.animation07 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw; }

.animation07 .circle {
  position: absolute;
  top: -0.2vw;
  left: -0.2vw;
  transform-origin: center;
  width: 2.5vw;
  height: 2.5vw;
  animation: animation07_circle 0.2s ease-in 2.19s forwards; }

.animation07 .circle_element01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.2vw solid #a18a66;
  background-color: #fff;
  border-radius: 50%;
  animation: animation07_circle_element01 0.2s ease-in 2s forwards;
  transform-origin: center;
  opacity: 0; }

@keyframes animation07_circle {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform: scale3d(1.4, 1.4, 1);
    opacity: 1; } }

@keyframes animation07_circle_element01 {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1; }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

.animation07 .line_wrapper {
  position: absolute;
  opacity: 0; }

.animation07 .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a18a66; }

/*===========
line01
===========*/
.animation07 .line_wrapper01 {
  top: -95%;
  left: 45%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2s forwards; }

.animation07 .line01 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards; }

/*===========
line02
===========*/
.animation07 .rotate60 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 33%;
  width: 100%;
  height: 100%;
  transform: rotate(60deg); }

.animation07 .line_wrapper02 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2s forwards; }

.animation07 .line02 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards; }

/*===========
line03
===========*/
.animation07 .rotate120 {
  display: block;
  position: absolute;
  top: 36.5%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotate(120deg); }

.animation07 .line_wrapper03 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2s forwards; }

.animation07 .line03 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards; }

/*===========
line04
===========*/
.animation07 .line_wrapper04 {
  top: 140%;
  left: 45%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper02 0.5s ease-in 2s forwards; }

.animation07 .line04 {
  animation: animation07_line02 0.5s ease-in 1.6s forwards; }

/*===========
line05
===========*/
.animation07 .rotate-120 {
  display: block;
  position: absolute;
  top: -15.5%;
  left: -34%;
  width: 100%;
  height: 100%;
  transform: rotate(-120deg); }

.animation07 .line_wrapper05 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2s forwards; }

.animation07 .line05 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards; }

/*===========
line06
===========*/
.animation07 .rotate-60 {
  display: block;
  position: absolute;
  top: -34.5%;
  left: -3%;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg); }

.animation07 .line_wrapper06 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2s forwards; }

.animation07 .line06 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards; }

@keyframes animation07_line_wrapper01 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation07_line01 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes animation07_line_wrapper02 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1; }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1; } }

@keyframes animation07_line02 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1; }
  100% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

/*===================
animation08
====================*/
.animation08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: animation08 1.5s ease-out 2.8s forwards;
  opacity: 0; }

.animation08 div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  background: black; }

.animation08 div:nth-of-type(2) {
  width: 100%;
  height: 25%;
  background: #75cfb9; }

.animation08 div:nth-of-type(3) {
  width: 100%;
  height: 25%;
  background: #457ed4; }

.animation08 div:nth-of-type(4) {
  width: 100%;
  height: 25%;
  background: #e8595f; }

.animation08 div:nth-of-type(5) {
  width: 100%;
  height: 25%;
  background: #ffe08b; }

@keyframes animation08 {
  0% {
    transform: translateY(-200vh);
    opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media screen and (max-width: 750px) {
  /*===================
animation02
====================*/
  @keyframes animation02 {
    0% {
      transform: scale3d(0, 0, 1);
      opacity: 1; }
    100% {
      transform: scale3d(1.2, 1.2, 1);
      opacity: 1; } }
  /*==============
green circle
==============*/
  .green01 {
    width: 70vw;
    height: 70vw; }
  .green01::before {
    left: 35vw;
    width: 70vw;
    height: 70vw;
    transform-origin: left 35vw; }
  .green01::after {
    left: -35vw;
    width: 70vw;
    height: 70vw;
    transform-origin: right 35vw; }
  /*==============
navy circle
==============*/
  .navy01 {
    width: 50vw;
    height: 50vw; }
  .navy01::before {
    left: 25vw;
    width: 50vw;
    height: 50vw;
    transform-origin: left 25vw; }
  .navy01::after {
    left: -25vw;
    width: 50vw;
    height: 50vw;
    transform-origin: right 25vw; }
  /*==============
yellow circle
==============*/
  .yellow01 {
    width: 35vw;
    height: 35vw; }
  .yellow01::before {
    left: 17.5vw;
    width: 35vw;
    height: 35vw;
    transform-origin: left 17.5vw; }
  .yellow01::after {
    left: -17.5vw;
    width: 35vw;
    height: 35vw;
    transform-origin: right 17.5vw; }
  /*==============
blue circle
==============*/
  .blue01 {
    width: 20vw;
    height: 20vw; }
  .blue01::before {
    left: 10vw;
    width: 20vw;
    height: 20vw;
    transform-origin: left 10vw; }
  .blue01::after {
    left: -10vw;
    width: 20vw;
    height: 20vw;
    transform-origin: right 10vw; }
  .blue00 {
    width: 7vw;
    height: 7vw; }
  /*==============
red circle
==============*/
  .red00 {
    width: 6vw;
    height: 6vw; }
  /*===================
animation06
====================*/
  @keyframes rhombus {
    0% {
      transform: scale3d(0, 0, 1);
      opacity: 1; }
    100% {
      transform: scale3d(20, 20, 1);
      opacity: 1; } } }

.hero-slider {
  position: relative;
  width: 100%;
  height: 90vh; }
  .hero-slider::after {
    content: "";
    display: table;
    clear: both; }
  .hero-slider--mySlides {
    position: absolute;
    width: 100%; }
    .hero-slider--mySlides img {
      width: 100%;
      height: 90vh;
      object-fit: cover; }
  .hero-slider--content {
    width: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 20rem;
    color: #fff;
    padding: 0 3rem;
    backdrop-filter: blur(8px); }
  .hero-slider--navi {
    z-index: 10;
    width: 100%;
    position: absolute;
    font-size: 5rem;
    top: 45%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 2rem;
    cursor: pointer; }
  .hero-slider--click-nav {
    z-index: 10;
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center; }
    .hero-slider--click-nav-circle {
      height: 15px;
      width: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      margin: 0 0.5rem;
      cursor: pointer; }
      .hero-slider--click-nav-circle:hover, .hero-slider--click-nav-circle:active {
        background-color: #fff; }

.active {
  background-color: #fff; }

.section-parallex {
  position: relative;
  perspective: 3px;
  z-index: -1; }

.section-about {
  background-color: #f7f7f7;
  padding: 7rem 20rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.join__box-2 {
  display: flex; }
  .join__box-2 > img {
    width: 40vw; }
  .join__box-2--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10rem;
    flex-basis: 60vw;
    background-color: #f7f7f7; }

.section-partners {
  background-image: linear-gradient(to right bottom, #4e4d4d 10%, #333 80%);
  padding: 10rem 10rem;
  text-align: center; }

@media (max-width: 75em) {
  .section-book {
    padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(/img/farmer-gathering-cotton-plantation.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(/img/farmer-gathering-cotton-plantation.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(/img/farmer-gathering-cotton-plantation.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
