.parallex-box {
  color: white;
  background-color: $color-black;
  position: relative;
  //   background-image: url("/img/cotton-1.jpg");
  //   background-size: cover;
  z-index: -1;
  height: 97vh;
  width: 100%;

  &__img {
    position: absolute;
    bottom: 0rem;
    object-position: center;
    width: 100%;
  }
}

.text {
  height: 50vh;
}
