.section-book {
  @include respond(tab-land) {
    padding: 10rem 0;
  }
}
.book {
  //padding: 1.5rem 6rem;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 55%,
      transparent 55%
    ),
    url(/img/farmer-gathering-cotton-plantation.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  //height: 50rem;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(/img/farmer-gathering-cotton-plantation.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(/img/farmer-gathering-cotton-plantation.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
